// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

@import "./variables";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

header {
    font-size: 2rem;
    background-color: $bg2;
    color: white;
    padding: 2rem;
}

footer {
    background-color: $bg2;
    color: white;
    padding: 4rem;
    margin-top: 5%;
    a {
        color: white;
    }
}

.flex-container {
    display: flex;
    width: 100%;
    margin: auto;
    overflow: auto;
}

.listedMovie {
    background-color: $bg1;
    border-radius: 12px;
    margin: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    display: inline-block;
    margin-bottom: 16px;

    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 4px;

    p {
        color: white;
    }

    .movieName {
        height: 32px;
    }

    img {
        border-radius: 8px;
    }
}

//If the movie title has a lot of characters, make the text smaller
.text-small {
    font-size: 11pt;
}

.text-smaller {
    font-size: 10pt;
}

//Movie window
.movieBG,
.movieDetails {
    //Fill in the entire screen but as a black transparent block
    position: fixed;
    color: white;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $bg1;

    h2,
    button,
    p {
        opacity: 1;
    }
}

.movieDetails {
    position: relative;
    margin: auto;
    margin-top: 1%;
    width: 50%;
    height: 70%;
    background-color: $bg2;
}

//Review related
.reviewList {
    //position: absolute;
    //overflow: scroll;
    height: 30%;
    width: 60%;
    margin-left: 20%;

    p {
        text-align: left;
    }
}

.scroll {
    overflow: auto;
}

/* Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 480px) {
    .listedMovie {
        width: 128px;
        img {
            width: 128px;
            height: 128px;
        }
        p {
            overflow-wrap: normal;
            margin-top: 1px;
            margin-bottom: 1px;
            overflow: visible;
            text-overflow: ellipsis;
        }

        .movieName {
            height: 48px;
        }
    }

    //If the movie title has a lot of characters, make the text smaller (smaller than usual for phones)
    .text-small {
        font-size: 10pt;
    }
    .text-smaller {
        font-size: 8.8pt;
    }
}
