@import "../../variables";

.listedMovie {
    background-color: $bg1;
    border-radius: 12px;
    margin: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    display: inline-block;
    margin-bottom: 16px;

    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-top: 0;

    p {
        color: white;
    }

    .movieName {
        height: 32px;
    }

    img {
        border-radius: 8px;
    }

    .showOnHover {
        visibility: hidden;
        //animation: fade 0.5s backwards;
    }
    background: none;
}

//If the movie title has a lot of characters, make the text smaller
.text-small {
    font-size: 11pt;
}

.text-smaller {
    font-size: 10pt;
}

//Movie window
.movieBG,
.movieDetails {
    //Fill in the entire screen but as a black transparent block
    position: fixed;
    color: white;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $bg1;

    h2,
    button,
    p {
        opacity: 1;
    }

    animation: fade 0.5s forwards;
}

.movieDetails {
    position: relative;
    margin: auto;
    margin-top: 1%;
    padding-bottom: 0.5rem;
    width: 50%;
    background-color: $bg2;
    border-radius: 12px;
    height: fit-content;

}

//Submit button
button {
    font-size: 1.5rem;
    background-color: $bg1;
    color: white;
    border-color: $bg2;
    border-radius: 4px;
    outline: $bg2;
}

button:hover {
    font-size: 1.5rem;
    background-color: $bg1;
    color: white;
}

//Movie shows review count and score while selected but hides it otherwise
.listedMovie:hover {
    background: $bg1;
    animation: grow 0.5s forwards;

    .showOnHover {
        visibility: visible;

        animation: fade 0.5s forwards;
    }
}

.movieRow {
    display: flex;

    //Scroll right
    button {
        display: block;
        position: relative;
        height: 400px;
        width: 128px;
    }

    button:first {
        margin-left: 100px;
    }

    button {
        visibility: hidden;
    }

    .close {
        visibility: visible;
    }
    
}

.close {
    margin-left: 90%;
    height: 32px !important;
    width: 64px !important;
}

.close:hover {
    background-color: $bg2;
}

//Animations
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@media screen and (max-width: $mobileMaxWidth) {
    .listedMovie {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        img {
            width: 83.5px;
            height: 125px;
        }
        p {
            overflow-wrap: normal;
            margin-top: 1px;
            margin-bottom: 1px;
            overflow: visible;
            text-overflow: ellipsis;
        }


        .movieName {
            height: 48px;
        }
    }
    

    .movieList {
        margin-bottom: 0;
    }

    //If the movie title has a lot of characters, make the text smaller (smaller than usual for phones)
    .text-small {
        font-size: 10pt;
    }
    .text-smaller {
        font-size: 8.8pt;
    }

    .movieDetails {
        width: 225px;
    }

    .close {
        margin-left: 9.5rem;
    }
}
